.header-kmutnb{
    background-image: url("Header.jpg");
    width: 100%;
    height: 250px;
  }
  .bs_table{
    margin:0;

  }
  .bs_table thead tr th{
    color:#fff;
    background-color: #999;
    
  }
  .btnSearch{
    width:250px;
  }
  .bs-product-card
  {
    min-height : 290px;
    text-align : center;
    position : relative;
  }
  .bs-product-card img
  {
    height: 100px;
    margin-top : 10px;
  }

